* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

html {
  font-size: 62.5%;
}

button {
  background: transparent;
  cursor: pointer;
  border: none;
}

ul {
  list-style: none;
}

:root {
  --blue-dark: #1e6f9f;
  --blue: #4ea8de;
  --purple-dark: #5e60ce;
  --purple: #8284fa;

  --gray-700: #0d0d0d;
  --gray-600: #1a1a1a;
  --gray-500: #262626;
  --gray-400: #333333;
  --gray-300: #808080;
  --gray-200: #d9d9d9;
  --gray-100: #f2f2f2;

  --danger: #e25858;

  --font-family: "Inter", sans-serif;
}

.container {
  width: 100%;
  max-width: 75.1rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

body {
  background: var(--gray-600);
}

.cabecalho {
  background: var(--gray-700);
  color: var(--blue);
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cabecalho .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cabecalho .container .title {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
}
.cabecalho .container .title img {
  width: 2.2rem;
  height: 3.6rem;
}

.cabecalho span {
  color: var(--purple);
}

.form {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  top: 7rem;
}

.form input {
  width: 100%;
  padding: 1.6rem;
  background-color: var(--gray-500);
  color: var(--gray-100);
  border: none;
  border-radius: 0.8rem;
}

.form input::placeholder {
  font-family: var(--font-family);
  color: var(--gray-300);
}

.form input:focus {
  outline: 1px solid var(--purple-dark);
}

.form button {
  background: var(--blue-dark);
  color: var(--gray-100);
  padding: 1.6rem;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.8rem;
  transition: all 0.3s ease;
}

.form button:hover {
  background: var(--blue);
}

.tarefas {
  padding-top: 8rem;
}

.tarefas .container .tarefas-estado {
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin-bottom: 2rem;
}

.tarefas .container .tarefas-estado span {
  background: var(--gray-400);
  border-radius: 99.9rem;
  padding: 0.2rem 0.8rem;
  color: var(--gray-200);
  font-size: 1.2rem;
}

.tarefas .container .tarefas-estado .left .right {
  display: flex;
  align-items: center;
}

.tarefas .container .tarefas-estado .left strong {
  color: var(--blue);
  font-size: 1.4rem;
}

.tarefas .container .tarefas-estado .right strong {
  color: var(--purple);
  font-size: 1.4rem;
}

.tarefas .container .tarefa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray-500);
  padding: 1.6rem;
  color: var(--gray-100);
  font-size: 1.4rem;
  border-radius: 0.8rem;
  margin-bottom: 1rem;
}

.tarefa .delete {
  padding: .3rem;
  text-align: center;
  cursor: pointer;
  font-size: 2rem;
}

.tarefa .delete:hover {
  background-color: var(--gray-400);
  border-radius: 0.4rem;
  color: var(--danger);
}

.checkbox {
  width: 1.7rem;
  height: 1.7rem;
  border: 1px solid var(--blue);
  cursor: pointer;
  border-radius: 50%;
}

.checkbox:hover {
  background-color: var(--blue-dark);
}

.checkboxChecked {
  width: 1.7rem;
  height: 1.7rem;
  border: 1px solid var(--blue);
  cursor: pointer;
  border-radius: 50%;
  background: var(--purple-dark) url(../image/check.svg) no-repeat center;
}

.checkboxChecked:hover {
  width: 1.7rem;
  height: 1.7rem;
  border: 1px solid var(--blue);
  cursor: pointer;
  border-radius: 50%;
  background: var(--purple) url(../image/check.svg) no-repeat center;
}


